<app-navbar></app-navbar>
<div class="container mt-3">
  <input type="text" [(ngModel)]="searchQuery" (input)="filterQuizzes()" placeholder="Search Quizzes" class="form-control mb-3">

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let quiz of filteredQuizzes">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">{{ quiz.testName }}</h5>
          <div class="card-text">
            <p><strong>ID:</strong> {{ quiz.testId }}</p>
            <p><strong>Time:</strong> {{ quiz.timeLimit }}</p>
            <p><strong>Total Questions:</strong> {{ quiz.questions.length }}</p>
            <a [routerLink]="['/quiz', quiz.id]" class="btn btn-primary mt-3">Start Quiz <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
