<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="aboutus">
          <h2 class="aboutus-title">About Our Quiz Platform</h2>
          <p class="aboutus-text">
            Welcome to our Quiz Platform! We're dedicated to fostering learning
            and education through interactive and engaging quizzes for everyone.
          </p>
          <p class="aboutus-text">
            Our platform offers a diverse range of quizzes suitable for
            students, professionals, or anyone eager to learn. Our team of
            educators curates informative, fun, and challenging quizzes, aiming
            to reinforce learning and knowledge retention in an enjoyable way.
          </p>
          <p class="aboutus-text">
            Explore our platform, take quizzes, and enrich your learning
            experience. We continuously strive to enhance and expand our quiz
            library to provide the best learning opportunities.
          </p>
          <a class="aboutus-more" routerLink="/about">Read More</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="aboutus-banner">
          <img
            src="../../assets/illustrators/about.svg"
            alt="Quiz Illustration"
          />
        </div>
      </div>
    </div>
  </div>
</div>

