.dropdown-toggle::after {
    content: none;
}

.dropdown-menu li{
    cursor: pointer;
}

.navbar-brand{
    font-family: Mochiy Pop One;
}

.navbar-nav{
    /* margin-left: 68%; */
    margin-left: auto;
    margin-right: 2rem;
    gap: 1rem;
}