<section>
  <form [formGroup]="questionForm">
    <div class="container bg-white rounded-4 my-5 position-relative">
      <div
        class="top pt-3 d-flex align-items-center justify-content-sm-between"
      >
        <div class="quizName col text-start">
          <input type="text" formControlName="testName" class="fs-5" />
        </div>
        <div class="quizInfo col text-center">
          <span> {{ currentQuestionIndex+1 }}/{{ totalQuestions+1 }} </span>
        </div>
        <div class="timer col text-end">
          <!-- <input type="time"> -->
          <input
            type="text"
            formControlName="timeLimit"
            class="fs-3 text-end"
          />
        </div>
      </div>
      <div class="secondTop d-flex justify-content-between ">
        <div class="quizId">
          <label for="testId" class="me-3">Test ID:</label>
          <input type="text" formControlName="testId" id="testId" class="" />
        </div>
        <div class="toggle">
          <label for="retake" class="me-3">Retake:</label>
          <label class="switch">
            <input type="checkbox" formControlName="allowRetake" id="retake">
            <span class="slider"></span>
        </label>
        </div>
      </div>
      <div class="middle mb-5">
        <div formArrayName="questions">
          <div
            *ngFor="let question of questionControls; let i = index"
            [formGroupName]="i"
            class="question-container mt-4"
            [class.d-none] = "i!==currentQuestionIndex"
          >
            <div class="form-group d-flex flex-column gap-3">
              <div class="question">
                <!-- <label for="question{{ i }}">Question:</label> -->
                <textarea
                  type="text"
                  class="form-control"
                  id="question{{ i }}"
                  formControlName="text"
                  placeholder="Enter Question..."
                  rows="5"
                >
                </textarea>
              </div>
              <!-- <div class="answer mx-3 mt-5">
                <label for="answer{{ i }}">Answer:</label>
                <input
                  type="text"
                  class="form-control"
                  id="answer{{ i }}"
                  formControlName="correctAnswer"
                />
              </div> -->

              <div formArrayName="options" class="d-flex flex-column gap-3">
                <div
                  *ngFor="let option of getOptionControls(i); let j = index"
                  class="option flex-grow-1 d-flex align-items-center gap-3"
                >
                  <label for="option{{ i }}{{ j }}">Option:</label>
                  <input
                    type="text"
                    id="option{{ i }}{{ j }}"
                    class="form-control"
                    [formControlName]="j"
                  />
                  <button
                    class="btn btn-danger"
                    type="button"
                    (click)="deleteOption(i, j)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
            <div class="buttons mt-3 w-100 d-flex justify-content-between">
              <button
                class="btn btn-warning"
                type="button"
                (click)="deleteQuestion(i)"
              >
                Delete Question
              </button>
              <button
                class="btn btn-success"
                type="button"
                (click)="addOption(i)"
              >
                Add Option
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="bottomBelow position-absolute start-0 w-100">
        <div class="buttons d-flex justify-content-between mx-4">
          <div class="button">
            <button
              class="btn btn-primary"
              type="button"
              (click)="addQuestion()"
            >
              Add Question
            </button>
          </div>

          <div class="button w-25 d-flex justify-content-between ">
            <button
              class="btn btn-primary"
              type="button"
              (click)="previousQuestion()"
              [disabled]="currentQuestionIndex === 0 || currentQuestionIndex < 0"
            >
              Previous
            </button>
            <button
            class="btn btn-primary"
            type="button"
            (click)="nextQuestion()"
            [disabled]="currentQuestionIndex === questionControls.length - 1"
            >
              Next
            </button>
          </div>

          <div class="button ">
            <button class="btn btn-success" type="button" (click)="save()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
