<app-navbar></app-navbar>
<section *ngIf="user$ | async as user">
  <div class="box m-5 rounded-4 position-relative">
    <div class="content">
      <div class="d-flex align-items-center  ">
        <span class="fs-1 me-2">Hello <span class="name">{{ user.displayName }} </span></span>
        <img
          _ngcontent-wfg-c166=""
          class="animated-hand"
          alt="hand"
          src="https://cdn-icons-png.flaticon.com/512/8661/8661045.png"
        />
      </div>
      <p class="pt-3">
        Welcome to our online quiz platform! We're excited to have you here and
        help you achieve your goals. Good Luck with your learning.
      </p>
    </div>
    <div class="boxAbsolute row position-absolute w-100">
      <div
        class="col boxShadow col-3 bg-white text-black m-4 rounded-4 d-flex align-items-center"
      >
        <!-- <span class="material-symbols-outlined me-3">book</span> -->
        <img
          src="../../assets/icons/animated/icons8-test.gif"
          alt="gif"
          class="me-3"
        />
        <div class="d-flex flex-column">
          <span class="fs-4 fw-bold">06</span
          ><span class="fs-12">Quizzes Attempted</span>
        </div>
      </div>
      <div
        class="col boxShadow col-3 bg-white text-black m-4 rounded-4 d-flex align-items-center"
      >
        <!-- <span class="material-symbols-outlined me-3">book</span> -->
        <img
          src="../../assets/icons/animated/icons8-quiz.gif"
          alt="gif"
          class="me-3"
        />
        <div class="d-flex flex-column">
          <span class="fs-4 fw-bold">29</span
          ><span class="fs-12">Quizzes Available</span>
        </div>
      </div>
      <div class="col boxShadow bg-white text-black m-4 rounded-4 position-relative">
        <input
          type="text"
          name="joinCode"
          id="joinCode"
          class="form-control-plaintext h-100 w-100 ps-2"
          placeholder="Enter a Join Code"
          #joinCodeInput
        />
        <button
          class="position-absolute top-50 btn btn-success px-4 py-2"
          id="joinBtn"
          (click)="joinQuiz()"
        >
          Join
        </button>
      </div>
    </div>
  </div>
  <div class="secondRow m-5 rounded-4 d-flex gap-5">
    <div class="available boxShadow col-6 bg-white rounded-3 p-4">
      <div class="navbarAvailable pb-3 d-flex flex-column">
        <div class="d-flex justify-content-between px-3 align-items-center">
          <span class="fw-bold fs-5">Availale Quizzes</span>
          <span class="seeMore text-primary">See More...</span>
        </div>
        <span
          class="border-bottom w-100 mt-2"
          style="border: 1px solid #33333330"
        ></span>
      </div>
      <div class="contentAvailable col overflow-y-auto px-3">
        <div class="mb-2 py-1 row rounded-2 ">
          <span class="col-7 overflow-hidden text-nowrap">Quiz 1</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Isaac Newton</span
          >
          <span class="col-2 text-black-50">10 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CA3 PEV114</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Nisha</span
          >
          <span class="col-2 text-black-50">30 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CSE423 CA2_Final Main Ex..</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Shevetha</span
          >
          <span class="col-2 text-black-50">10 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">INT306 Test</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Nazia</span
          >
          <span class="col-2 text-black-50">10 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CA2_Final</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Ramanpreeth Sangar</span
          >
          <span class="col-2 text-black-50">30 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CSE423 CA2_Final ETP</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Narender Reddy</span
          >
          <span class="col-2 text-black-50">10 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CSE423 CA2 1</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Koti Reddy</span
          >
          <span class="col-2 text-black-50">10 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CSE423 CA2_Final </span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Usha Rani</span
          >
          <span class="col-2 text-black-50">30 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CSE423 1</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Sri Vidhya</span
          >
          <span class="col-2 text-black-50">10 Que</span>
        </div>
      </div>
    </div>
    <div class="attempted boxShadow col bg-white rounded-3 p-3">
      <div class="navbarAvailable pb-3 d-flex flex-column">
        <div class="d-flex justify-content-between px-3 align-items-center">
          <span class="fw-bold fs-5">Recently Attempted Quizzes</span>
          <span class="seeMore text-primary">See More...</span>
        </div>
        <span
          class="border-bottom w-100 mt-2"
          style="border: 1px solid #33333330"
        ></span>
      </div>
      <div class="contentAvailable col overflow-y-auto px-3">
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">INT306 Test</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Nazia</span
          >
          <span class="col-2 text-black-50">10 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CSE423 CA2_Final </span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Usha Rani</span
          >
          <span class="col-2 text-black-50">30 Que</span>
        </div>
        <div class="mb-2 py-1 row rounded-2  ">
          <span class="col-7 overflow-hidden text-nowrap">CSE423 1</span>
          <span class="col-3 text-black-50 overflow-hidden text-nowrap"
            >Sri Vidhya</span
          >
          <span class="col-2 text-black-50">10 Que</span>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
