section {
    background-color: #fff;
}

.left {
    /* background-color: var(--day-color-bg-group); */
    border-radius: 40px;
}

.form-label {
    left: 3%;
    transform: translate(0, -50%);
}

.form-control {
    box-shadow: none;
}

.hideShow {
    cursor: pointer;
    transform: translate(0, -50%);
}

input {
    padding-left: 14px;
}


/* -----------------Changing Placeholder Postion when input is fixed----------------- */
.inputRow label .form-control+span {
    color: #6c757d;
    left: 14px;
    ;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.inputRow label .form-control:placeholder-shown+span {
    transform: translate(0%, -50%);
}

.inputRow label .form-control:focus+span,
.inputRow label .form-control:valid+span {
    transform: translate(0%, -140%);
    font-size: 0.7em;
}

<<<<<<< HEAD
.hasValue+span {
=======
.hasValue+span{
>>>>>>> 8f8e30b1723a3749fd54a28ede9bb0d22ed0d741
    transform: translate(0%, -140%);
    font-size: 0.7em !important;
}

<<<<<<< HEAD
input {
=======
input{
>>>>>>> 8f8e30b1723a3749fd54a28ede9bb0d22ed0d741
    height: 50px;
    padding-bottom: 0;
}

input[type="checkbox"] {
    height: 16px;
}


/* -----------------Showing errors on validation----------------- */
/* if input has ng-invalid class and ng-touched class then set color to red */
/* .inputRow label .ng-invalid.ng-touched{
    color: var(--day-color-error);
    border-color: var(--day-color-error);
}

.inputRow label .form-control:focus{
    color: black !important;
} */

.alert{
    color: var(--bs-form-invalid-color);
    padding-left: 45px !important;
    font-size: 0.7em;
}
